body {
    text-align: center;
    background-color: bisque;
}

#marqueeStyle {
    background-color: cornflowerblue;
    color: white;
}

#contact {
    text-align: center;
    background-color: bisque;
}

#video iframe {
    text-align: center;
}
